
<div class="center hero-unit">
     
 
  <h1>Anna äänesi kuulua! </h1>

  
  <%= link_to "Rekisteröidy!", signup_path, class: "btn btn-large btn-primary" %>
  <br><br>
  <p class="count"> Rekisteröityjä äänestäjiä <%= Citizen.count %> </p>
</div>







