<footer class="footer">
 
  <nav>
    <ul>
      <li><%= link_to "Sivustosta",   '#' %></li>
      <li><%= link_to "Yhteystiedot", '#' %></li>
      
    </ul>
    <small> pre-alpha version. Based on the code in 
            <%= link_to "Getting Started with Rails", 
            'http://guides.rubyonrails.org/getting_started.html' %> 
            and
            <%= link_to "Ruby on Rails Tutorial",
            'http://www.railstutorial.org/book/frontmatter' %>   
    </small>
  </nav>
</footer>

